/*
Project: GN group;
Date create: 2016-10-18;
Date last modification: 2016-10-18;
Author: Mariusz Gałka;
Company: Iguana studio;
Version: 1.0;
*/

@import
    'vendor/_bootstrap.min.scss',
    'vendor/_media-queries.scss',
    'vendor/_magnific-popup.scss',
    'helpers/_helpers.scss',
    'helpers/_mixins.scss',
    'helpers/_variables.scss',
    'base/_normalize.scss',
    'base/_global.scss',
    'components/_form.scss',
    'components/_pagination.scss',
    'layout/_breadcrumbs.scss',
    'layout/_grid.scss',
    'layout/_header.scss',
    'layout/_footer.scss';

