/*
Project: fun2bemum;
Author: Damian Bonar;
Company: Iguana Studio;
*/

@import
    'vendors/_bootstrap.min.scss',
    'vendors/_media-queries.scss',
    'vendors/_magnific-popup.scss',
    
    'helpers/_variables.scss',
    'helpers/_mixins.scss',
    'helpers/_helpers.scss',
    
    'base/_normalize.scss',
    'base/_global.scss',
    'base/_fonts.scss',
    
    'components/_forms.scss',
    'components/_paginations.scss',
    'components/_gallery.scss',
    'components/_files.scss',
    'components/_buttons.scss',
    'components/_alerts.scss',
    'components/_lists.scss',
    
	'layout/_breadcrumbs.scss',
    'layout/_grid.scss',
    'layout/_header.scss',
    'layout/_footer.scss',

	'pages/_text.scss';
	
	