//
// .btn-group
//
$btn-group-margin: 0 -5px 30px;
$btn-group-btn-margin: 5px;


//
// .btn // default
//
$btn-margin: $clear-margin;

$btn-padding-top: 15px;
$btn-padding-right: 30px;
$btn-padding-bottom: 15px;
$btn-padding-left: 30px;

$btn-text-align: center;
$btn-text-transform: none;
$btn-line-height: 1.2;
$btn-letter-spacing: normal;

$btn-font-size: $default-font-size;
$btn-font-family: $default-font-family;
$btn-font-weight: $default-font-weight;

$btn-color: #fff;
$btn-color-hover: #fff;

$btn-bg-color: $key-color-1;
$btn-bg-color-hover: $key-color-2;

$btn-border: 2px solid transparent;
$btn-border-hover: $btn-border;
$btn-border-radius: 0;


//
// .btn--primary
//
$btn-primary-color: $btn-color;
$btn-primary-color-hover: $btn-color-hover;

$btn-primary-bg-color: $key-color-2;
$btn-primary-bg-color-hover: $key-color-1;

$btn-primary-border: 2px solid transparent;
$btn-primary-border-hover: $btn-primary-border;


//
// .btn--outline
//
$btn-outline-color: $key-color-1;
$btn-outline-color-hover: $key-color-2;

$btn-outline-bg-color: transparent;
$btn-outline-bg-color-hover: transparent;

$btn-outline-border: 2px solid $key-color-1;
$btn-outline-border-hover: 2px solid $key-color-2;


//
// .btn--small
//
$btn-small-padding-divider: 1.5;
$btn-small-font-size: $default-font-size - 2px;

	// don't edit | this code generate small size btn
	$btn-small-padding-top: $btn-padding-top / $btn-small-padding-divider;
	$btn-small-padding-right: $btn-padding-right / $btn-small-padding-divider;
	$btn-small-padding-bottom: $btn-padding-bottom / $btn-small-padding-divider;
	$btn-small-padding-left: $btn-padding-left / $btn-small-padding-divider;


//
// .btn--large
//
$btn-large-padding-divider: 1.5;
$btn-large-font-size: $default-font-size + 2px;

	// don't edit | this code generate large size btn
	$btn-large-padding-top: $btn-padding-top * $btn-large-padding-divider;
	$btn-large-padding-right: $btn-padding-right * $btn-large-padding-divider;
	$btn-large-padding-bottom: $btn-padding-bottom * $btn-large-padding-divider;
	$btn-large-padding-left: $btn-padding-left * $btn-large-padding-divider;


//---[end vars]-----------------------------------------//


// btn group
.btn-group {
	@extend .flex;
	margin: $btn-group-margin;
	
    > .btn {
		margin: $btn-group-btn-margin;
	}
}

// default btn
.btn {
	@extend .flex, .flex--inline, .flex--nowrap;
	cursor: pointer;
	padding: {
		top: $btn-padding-top;
		right: $btn-padding-right;
		bottom: $btn-padding-bottom;
		left: $btn-padding-left;
	}
	margin: $btn-margin;
	text-align: $btn-text-align;
	text-decoration: none;
	text-transform: $btn-text-transform;
	line-height: $btn-line-height;
	letter-spacing: $btn-letter-spacing;
	color: $btn-color;
	background-color: $btn-bg-color;
	border: $btn-border;
	border-radius: $btn-border-radius;
	font-size: $btn-font-size;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	
	@include transition();

	@include hover() {
        border: $btn-border-hover;
		text-decoration: none;
		background-color: $btn-bg-color-hover;
		color: $btn-color-hover;
    }

	// primary btn
    &--primary {
    	color: $btn-primary-color;
    	background-color: $btn-primary-bg-color;
    	border: $btn-primary-border;

    	@include hover() {
    		color: $btn-primary-color-hover;
    		background-color: $btn-primary-bg-color-hover;
    		border: $btn-primary-border-hover;
    	}
    }
    
    // outline btn
    &--outline {
    	color: $btn-outline-color;
    	background-color: $btn-outline-bg-color;
    	border: $btn-outline-border;

    	@include hover() {
    		color: $btn-outline-color-hover;
    		background-color: $btn-outline-bg-color-hover;
    		border: $btn-outline-border-hover;
    	}
    }
    
    // small btn
    &--small {
    	padding: {
			top: $btn-small-padding-top;
			right: $btn-small-padding-right;
			bottom: $btn-small-padding-bottom;
			left: $btn-small-padding-left;
		}
		font-size: $btn-small-font-size;
    }
    
    // large btn
    &--large {
    	padding: {
			top: $btn-large-padding-top;
			right: $btn-large-padding-right;
			bottom: $btn-large-padding-bottom;
			left: $btn-large-padding-left;
		}
		font-size: $btn-large-font-size;
    }
    
	// block btn
	&--block {
		display: flex;
		width: 100%;
		min-width: 0;
	}
}