// files | default
$files--margin: 30px 0;

//
// title 
//
$files-title--margin: 30px 0 15px;

//
// list item before
//
$files-list-item-before--content: '\e90a';
$files-list-item-before--font-family: $default-font-family-icon;
$files-list-item-before--font-size: 24px;
$files-list-item-before--color: $key-color-1;
$files-list-item-before--position-top: 5px;
$files-list-item-before--position-left: 0;


.files {
	margin: $files--margin;
	&__title {
		@extend .h2;
		margin: $files-title--margin;
	}
	&__list {
		&-item {
			position: relative;
			padding: 10px 40px;
			a {
				display: block;
				color: inherit;
				font-size: inherit;
				font-weight: inherit;
				text-transform: inherit;
				text-decoration: inherit;
				&::before {
					content: $files-list-item-before--content;
					position: absolute;
					top: $files-list-item-before--position-top;
					left: $files-list-item-before--position-left;
					font-family: $files-list-item-before--font-family;
					font-size: $files-list-item-before--font-size;
					color: $files-list-item-before--color;
				}
				span {

				}
			}
		}
	}
}


.download {
	margin: $default-margin;
	li {
		margin: 0 0 15px;
		padding: 0;
		font-weight: $default-font-weight;
		a {
			display: inline-block;
			font-weight: $default-font-weight;
			color: $default-font-color;
			position: relative;
			padding-left: 40px;
			@include transition();
			&:before {
				content: "\e90f";
				font-family: 'Icons';
				font-size: 25px;
				color: $key-color-1;
				position: absolute;
				top: -5px;
				left: 1px;
				@include transition(left);
			}
			span {
				color: lighten($default-font-color, 40%);
				font-weight: 300;
			}
			@include hover() {
		        text-decoration: none;
				color: $key-color-2;
				padding-left: 50px;
				&:before {
					left: 11px;
				}
		    }
		}
	}	
}