::-webkit-input-placeholder {
    color: #928e8a;
}

:-moz-placeholder {
    color: #928e8a;
    opacity: 1;
}

::-moz-placeholder {
    color: #928e8a;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #928e8a;
}

input, select, textarea {
    width: 100%;
    margin: 0;
    padding: 8px 10px;
    font-size: 1.4rem;
    color: #000;
    border: 1px solid #E2E2E2;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    outline: none;
    font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

input.error, select.error, textarea.error {
    border-color: #D30C0C;
}

input:focus, select:focus, textarea:focus {
    border-color: #C8C8C8;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
}

input[disabled], select[disabled], textarea[disabled] {
    text-shadow: 1px 1px #FFF;
    border-color: #d9d9d9;
    background-color: #f2f2f2;
    color: #919191;
}

select {
    padding: 7px 6px;
}

textarea {
    margin: 0;
    resize: none;
    vertical-align: top;
}

label {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px;
    max-width: 100%;
}