::-webkit-input-placeholder {
    color: $default-font-color;
}

:-moz-placeholder {
    color: $default-font-color;
    opacity: 1;
}

::-moz-placeholder {
    color: $default-font-color;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $default-font-color;
}

input,
select,
textarea {
    border: 1px solid #E2E2E2;
    color: $default-font-color;
    font-family: $default-font-family;
    font-size: $default-font-size;
    width: 100%;
    margin: 0;
    padding: 15px 20px;
    line-height: inherit;
    outline: none;
    @include transition;

    &.error {
	    border-color: #d30c0c;
	}

    &:focus {
	    border-color: #C8C8C8;
	    box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
	}

	&[disabled] {
		text-shadow: 1px 1px #FFF;
	    border-color: #d9d9d9;
	    background-color: #f2f2f2;
	    color: #919191;
	}
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

// select {
//     padding: 14px 18px;
// }

textarea {
    margin: 0;
    resize: none;
    vertical-align: top;
}


.form {
    margin: $default-margin;

    &__group {
        margin: 0 0 25px;
        position: relative;
    }

    &__info {
        opacity: 0.6;
        display: block;
        margin: 5px 0 0;
        font-size: 80%;
    }

    &__label {
        color: $default-font-color;
        display: block;
        font-weight: $default-font-weight;
        margin: 0 0 10px;
    }

    &__static-control {
        border: 1px solid transparent;
        color: #000;
        font-size: $default-font-size;
        font-weight: $default-font-weight;
        padding: 15px 0;
        width: 100%;
    }

    &__checkbox,
    &__radio {
        margin: 10px 0;
    }

    &__action {
        margin: 25px 0 0;

        @include max-screen($xs-max) {
            .btn {
                width: 100%;
                clear: both;
                display: block;
            }
        }
    }
}

.form {
	margin: $default-margin;

	&-horizontal {
		label {
			text-align: left;
			margin-top: 17px;
			float: left;
			width: 180px;
			@include max-screen($sm-max) {
				margin-top: 0;
				width: 100%;
			}
		}

		.form-group {
			margin-bottom: 10px;
			margin-left: 0;
			margin-right: 0;
			&:before,
			&:after {
				display: table;
				line-height: 0;
				content: "";
			}
			&:after {
				clear: both;
			}
		}

		.field-group,
		.button-group  {
			margin-left: 200px;
			@include max-screen($sm-max) {
				margin-left: 0;
				clear: both;
			}
		}
	}
}

.checkbox,
.radio {
    @extend .flex, .flex--nowrap;

    .jcf-checkbox,
    .jcf-radio {
        margin: 2px 0 0;
    }

	&__input {
        margin: 2px 0 0;
	}

    &__field {
        margin: 0 0 0 10px;
    }

	&__label {
		overflow: hidden;
		display: block;
		text-align: left;
		width: auto;
		padding-top: 0;
	}

	&__info {
		margin: 2px 0 0;
		opacity: 0.6;
		display: block;
		font-size: 80%;
	}
}