.jcf-select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border: $form-fields-border;
    background-color: #fff;
    border-radius: $form-fields-border-radius;
    width: 100%;
    //height: 54px;
 
    select {
        z-index: 1;
        left: 0;
        top: 0;
    }

    &-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: default;
        display: block;
        font-family: $form-fields-font-family;
        font-weight: $form-fields-font-weight;
        font-size: $form-fields-font-size;
        //line-height: 54px;
        //margin: 0 50px 0 20px;
        padding: $form-fields-padding;
        line-height: inherit;
        
        .jcf-option-placeholder {
            color: $form-placeholder-color;
        }
        
        .error-select & span {
            color: $color-danger;
        }
    }

    &-opener {
        position: absolute;
        text-align: center;
        width: 50px;
        bottom: 0;
        right: 0;
        top: 0;

        &:before {
            content: '\e022';
            font-family: $default-font-family-icon;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $default-font-color;
        }
    }

    .jcf-drop-flipped.jcf-select-drop {
        bottom: 100%;
        top: auto;
        
        .jcf-select-drop-content {
            border-radius: $form-fields-border-radius $form-fields-border-radius 0 0;
        }
    }

    &.jcf-compact-multiple {
        max-width: 220px;

        .jcf-select-opener:before {
            display: inline-block;
            padding-top: 2px;
            content: '...';
        }
    }
    
    .error-select & {
        border-color: $color-danger;
        //background-color: #fff8f8;
    }
}

.jcf-select-drop {
    body > & {
        position: absolute;
        margin: -1px 0 0;
        z-index: 490;
    }

    body > &.jcf-drop-flipped {
        margin: 1px 0 0;
    }

    .jcf-select & {
        position: absolute;
        margin-top: 0px;
        z-index: 490;
        top: 100%;
        left: -1px;
        right: -1px;
    }

    .jcf-select-drop-content {
        border: $form-fields-border;
        border-radius: 0 0 $form-fields-border-radius $form-fields-border-radius;
        overflow: hidden;
    }

    &.jcf-compact-multiple {

        .jcf-hover {
            background: none;
        }

        .jcf-selected {
            background-color: #ced1d7;
            color: #000;
        }

        .jcf-selected:before {
            display: inline-block;
            content: '';
            height: 4px;
            width: 8px;
            margin: -7px 5px 0 -3px;
            border: 3px solid #777;
            border-width: 0 0 3px 3px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
        }
    }
}


/* multiple select styles */
.jcf-list-box {
    overflow: hidden;
    display: inline-block;
    border: $form-fields-border;
    min-width: 200px;
    margin: 0 15px;
}

.jcf-list {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #fff;
    line-height: inherit;
    font-size: $default-font-size;
    width: 100%;

    .jcf-list-content {
        vertical-align: top;
        display: inline-block;
        overflow: auto;
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            overflow: hidden;
            display: block;
            
            &:last-child {
                .jcf-option {
                    border-bottom: 0 none;
                }
            }
        }
    }

    .jcf-overflow {
        overflow: auto;
    }

    .jcf-option {
        overflow: hidden;
        cursor: default;
        display: block;
        padding: $form-fields-padding;
        color: $default-font-color;
        height: 1%;
        font-size: $form-fields-font-size;
        border-bottom: $form-fields-border;
        line-height: $small-line-height;
        @include transition();
        
        &-placeholder {
            display: none;
        }
    }

    .jcf-disabled {
        background: $form-fields-disabled-bg !important;
        color: $form-fields-disabled-color !important;
        border-color: $form-fields-disabled-border;
    }

    .jcf-optgroup-caption {
        white-space: nowrap;
        font-weight: bold;
        display: block;
        padding: 5px 9px;
        cursor: default;
        color: #000;
    }

    .jcf-list .jcf-optgroup .jcf-option {
        padding-left: 30px;
    }
}

.jcf-select-drop .jcf-hover {
    background: #f1f1f1;
    color: $key-color-1;
}

.jcf-select-drop .jcf-selected {
    color: $key-color-1;
}
