.nav {
    &__list {
        @extend .flex, .flex--center-y;
    }
    
    &__item {
        position: relative;
        margin-right: 50px;
        
        &:last-child {
            margin-right: 0;
        }
        
        > a {
            display: block;
            color: $default-font-color;
            padding: 10px 0;
            @include hover() {
                color: $key-color-1;
            }

            &.is-active {
                font-weight: 700;
                color: $key-color-1;
            }
        }
    }
    
    @include max-screen($md-max) {
        
        background-color: rgba($key-color-1, .98);
        margin: 0;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 900;
        display: block;
        @include transition();
        
        
        &__list {
            display: table;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
        
        
        
        .is-menu-open & {
            opacity: 1;
            visibility: visible;
        }
    }
}