.top {
	background-color: #f9fafc;
	padding: 25px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0);
	@include transition();
    
    @include max-screen($md-max) {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
    .is-top-shadow & {
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    }

	.is-top-minimize & {
		padding: 15px 0;

		&__logo {
			max-width: 115px;
		}
	}

	&__logo {
		margin-right: 30px;
		max-width: 150px;
		@include transition();
        
        @include max-screen($md-max) {
            max-width: 115px !important;
        }

		a {
			@include hover() {
				img {
					opacity: 0.5;
				}
			}
		}

		img {
			@include transition();
			width: 100%;
		}
	}

	&__nav {
         
        
		.is-menu-open & {
			opacity: 1;
			visibility: visible;
			display: block !important;
		}
        
        
	}
}